body{
    padding: 0px;
    margin: 0px;

}
.bigbig{
    border:0px solid red;
    width:80%;
    margin:0 auto;
    margin-top:5%;
}
.big{
    width: 30%;
    float: left;
    margin-left:2%;
}
.a{
    width:100%;
    margin-top:3%;
}
.b{
    position:relative;
    width:100%;
    color:#fff;
    opacity:0.8;
    background-color:#000000;
    display:none;

}
.c{
    color:#fff;
    z-index:3;
}
.head{
    position: fixed;
    top: 0px;
    left: 0px;
    border: 0px solid red;
    background-color:#008B45;
    width:100%;
    height: 8%;
    margin: 0 auto;
    opacity:1;
    z-index:100;
}
.Avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.info {
    opacity: 0.8;
    width: 280px;
    height: 250px;
    background-color: rgb(242, 242, 242);
    position: absolute;
    left: 71.5%;
    border-width: 0px;
    border-style: solid;
    border-color: initial;
    border-image: initial;
    border-radius: 5px;
}
.info > hr {
    color: rgb(152, 124, 185);
}
.info > div {
    height: 50px;
    line-height: 50px;
    width: 100%;
    border-width: 0px;
    border-style: solid;
    border-color: red;
    border-image: initial;
}
a{
    text-decoration: none;
    color: #333;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}