.daohang{
    width: 100%;
    height: 100px;
    border:0px solid red;
    background-color: rgb(242, 242, 242);
    margin-top: 10px;
}
.daohang ul{
    margin-left: 21%;
}
.daohang ul li{
    margin-left: 50px;
    padding-top: 30px;
    display: block;
    float: left;

}
.daohang ul a{
    text-decoration: none;
    color: #333;
    font-size: 20px;
    text-align: center;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.daohang ul a:hover{
    color: #3ec8f7;
}
.iframe_c{
    padding-top: 20px;
    width: 102%;
    height:500px;
}
.nima{
    font-size: 30px;
}